body {
  margin: 0;
  
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 800;
  font-style: normal;
}

