.chatbox{
    background-color: #3d404a;
    width: 85%;
    height: 80%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    flex-direction: column;
    border-radius: 8px;
    justify-content: space-between;
    color: black;
    
    .chats{
        .msg{
            background-color: black;
            color: white;
            max-width: 60%;
            margin: 10px;
            padding: 10px 15px;
            font-size: small;
            .msgDetails{
                --bt-text-opacity: 0.9;
                color: rgb(57 224 121 / var(--bt-text-opacity));
                font-size: smaller;
                margin-bottom: 5px;
            }
        }
        .msgContent{
            word-wrap: break-word;
        }
        .usermsg{
            margin-right: auto;     
            border-radius: 10px 10px 10px 0px;
        }
        .selfmsg{
            margin-left: auto;     
            border-radius: 10px 10px 0px 10px;
            margin-right: 0px;
        }
    }
    .chatinput{
        // padding: 3px 2px;
        background: #3d404a;
        border-radius: 0px 0px 10px 10px;
        // padding: 3px 2px;
        --bt-text-opacity: 0.9;
        border: 1px solid rgb(57 224 121 / var(--bt-text-opacity));
        // bac
    }
    input{
        border-radius: 0px 0px 0px 10px;
        width: 100%;
        border: none;
        outline: none;
        padding: 10px 15px;
        color: white;
        font-size: small;
        background-color: #3d404a;
        // border-right: none;
        
        // color: ;
    }
    button{
        border-radius:  0px 0px 10px 0px;
        outline: none;
        border: none;
        background-color: #3d404a;
        img{
            filter: invert(100%);
        }
        --bt-text-opacity: 0.9;
        border-left: 1px solid rgb(57 224 121 / var(--bt-text-opacity));;
        padding: 0px 10px;
        &:hover{
            background-color: #5d5f66;
        }
    }
}