// .homepageContainer{
//     // background-color: #212429;
//     // height: 100vh;
//     body{

//     }
// }
body{
    background-color: #212429;
    font-family: "Titillium Web", sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.App{
    height: 100vh;
}
.homepage-c{
    height: 100%;
}
img{
    opacity: 0.9;
    // clip-path: circle(223px);
    max-width: 500px;
    width: 100%;
}
h1{
    // text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 3px;
}
.tagLine{
    font-weight: 800;
}