.people{
    .peopleContainer{
        width: 80%;
        margin: auto;
        margin-top: 20px;
        flex-wrap: wrap;

        .eachUserItem{
            // flex-grow: 1;
            // margin: 0px 10px;
            .online{
                width: 14px;
                height: 14px;
                border-radius: 10px;
                background-color: rgb(81, 194, 81);
                position: absolute;
                right: -5px;
                top: -5px;
                border: 1px solid black;
            }
        }
        .userIcon{
            position: relative;
            padding: 25px;
            background-color: orangered;
            width: 2rem;
            height: 2rem;
            border-radius: 10px;
            user-select: none;
        }   
    }
    .peopleButtonContainer{
        // height: 100%;
        button.leaveButton{
            margin: 10px 0px 20px 0px;
            background-color: rgb(57, 224, 121);
        }
        button{
            border: none;
            border-radius: 5px;
            padding: 10px 0px;
        }
    }
}